.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 7rem;
  left: 0;
  background-color: rgb(37, 37, 37);
  overflow-x: hidden;
  width: 20rem;
  /* padding-top: 20px; */
}

/* The navigation menu links */
.sidenav a {
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: relative;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* The sidenav */

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

ul {
  display: table;

  padding: 0;
  width: 100%;
  list-style-type: none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: -20px;
  transition: margin-top 0.2s ease;
  left: 0;
  /* display: none; */
}

ul li:hover ul {
  visibility: visible;
  opacity: 1;
  display: block;
  position: relative;
  margin-top: 0px;
  margin-left: 30px;
  transition: margin-top 0.2s ease;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.nav-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  marker: none;
}
/* 
li a:hover,
li a:active,
li a.active {
  background: #f8df00;
  border-color: #292929;
  color: #ffffff;
} */

.injury a:hover,
.injury a:active {
  background: #d60505;
  border-color: #292929;
  color: #ffffff;
  transition: none;
}

.treatment a:hover,
.treatment a:active {
  background: #037ac9;
  border-color: #292929;
  color: #ffffff;
  transition: none;
}

.prescriptions a:hover,
.prescriptions a:active {
  background: #0daf36;
  border-color: #292929;
  color: #ffffff;
  transition: none;
}

.messages a {
  background: aquamarine;
  color: darkslategray;
}

.picture-upload a {
  background: rgb(176, 127, 255);
  color: darkslategray;
}
